<strong>ng-learn app</strong>&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="login" routerLinkActive="active-link">Login</a>&nbsp;
<a routerLink="movie-list" routerLinkActive="active-link">Movies</a>&nbsp;
<a routerLink="edit-movie" routerLinkActive="active-link">Edit Movie</a>&nbsp;
<a routerLink="profile" routerLinkActive="active-link">My Profile</a>&nbsp;
<a routerLink="http" routerLinkActive="active-link">HTTP Client Demo</a>&nbsp;
<a routerLink="custom-pipe" routerLinkActive="active-link">Custom Pipe Demo</a>&nbsp;
<a *ngIf="authService.isLoggedIn" (click)="logout()">Logout</a>
<hr>
<router-outlet></router-outlet>
